* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.dropdown {
  background: white;
  position: absolute;
  z-index: 1;
  padding: 5px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}
